@charset "UTF-8";
.five-percent {
     width: 5%;
}

.ten-percent {
     width: 10%;
}	

.twenty-percent {
     width: 20%;
}	
	
.thirty-percent {
     width: 30%;
}

.forty-percent {
     width: 40%;
}

.sixty-percent {
     width: 60%;
}

.seventy-percent {
     width: 70%;
}

.seventy-five {
     width: 75%;
}

.eighty-percent {
     width: 80%;
}

.eighty-five-percent {
     width: 85%;
}

.ubi-enable {
	background:#2EFE64;
	border:0px none;
}

.ubi-disable {
	background:#A4A4A4;
	border:0px none;
}

.ubi-empty {
	background:YELLOW;
	border:0px none;
}

.ubi-aisle {
	background:#808080;
	border:0px none;
}

.Ubi-Button-enable .ui-button-text {
	box-shadow: inset 0 0 0 1px YELLOW;
	border: none 0px YELLOW;
	text-shadow: 0 -1px 0 YELLOW;
	color: blue !important;
	background: YELLOW;
	
}

.Ubi-Button-disable .ui-button-text {
	box-shadow: inset 0 0 0 1px #A4A4A4;
	border: none 0px #A4A4A4;
	text-shadow: 0 -1px 0 #A4A4A44;
	color: #A4A4A4 !important;
	background: #A4A4A4;
}

.Ubi-Button-aisle .ui-button-text {
	box-shadow: inset 0 0 0 1px #181907;
	border: none 0px #808080;
	text-shadow: 0 -1px 0 #1819074;
	color: #808080 !important;
	background: #808080;
}


